 @model IEnumerable<CVMVC.Models.PortfolioModel>
  <!-- Portfolio Single Modal Start -->
  
    <div class="portfolio-single modal fade" id="portfolio-single" tabindex="-1" role="dialog"
        aria-labelledby="portfolioModalScrollable" aria-hidden="true">
        @foreach (var item in Model)
                            {
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content text-muted">
                <div class="modal-header">
                    <h5 class="modal-title" id="portfolioModalScrollable">کار من</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
 <div class="modal-body">
                    <div class="pt-4 pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-10 mx-auto">
                                    <div class="text-center">
                                        <h2 class="mb-3">  
                                            <span class="base-color">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </span>
                                         </h2>
                                        <p class="max-width-450">در یک زمینه حرفه ای غالباً اتفاق می افتد که مشتریان
                                            خصوصی از انتشار گزارشی جلوگیری می کنند.</p>
                                    </div>
                                    <div class="row contact-info mt-5">
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <div>
                                                    <h6>ساخته شده توسط:</h6>
                                                    <p class="mb-0">  @Html.DisplayFor(modelItem => item.Maker)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-title-border mt-3 mt-md-0">
                                            <div class="text-center">
                                                <div>
                                                    <h6 class="contact_detail-title">تکمیل شده در تاریخ:</h6>
                                                    <p class="mb-0"> @Html.DisplayFor(modelItem => item.Date)  </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-3 mt-md-0">
                                            <div class="text-center">
                                                <div>
                                                    <h6>مهارتها:</h6>
                                                    <p class="mb-0">@Html.DisplayFor(modelItem => item.Tec)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5">
                                        <div class="portfolio-single-item image-border">
                                            <img src="~/img/@Html.DisplayFor(modelItem => item.Img)" class="d-block" alt="...">
                                        </div>
                                    </div>
                                    <div class="text-md-right mt-5">
                                        <p class="my-3"> @Html.DisplayFor(modelItem => item.Description)</p>
                                        <p class="mt-3 mb-0">@Html.DisplayFor(modelItem => item.Description)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>}
    </div>
    <!--  Portfolio Single Modal End  -->

        <!-- Portfolio Start -->
        <section id="portfolio" class="portfolio active">
            <div class="display-table">
                <div class="display-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center title">
                                    <h2 class="text-dark"><span class="base-color">کارهای</span> من </h2>
                                    <p class="text-muted mb-5 max-width-450">در یک زمینه حرفه ای غالباً اتفاق می افتد که
                                        مشتریان خصوصی از انتشار گزارشی جلوگیری می کنند.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--   Portfolio Filters   -->
                            <ul id="portfolio-filter"
                                class="list-unstyled list-inline mb-0 col-lg-12 text-center portfolio-filter">
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter="*" class="pill-button active">همه</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".webdesign" class="pill-button">طراحی وب</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".mobiledesign" class="pill-button">طراحی موبایل</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".seo" class="pill-button">سئو</a>
                                </li>
                                <li class="button-border list-inline-item">
                                    <a href="#" data-filter=".graphic" class="pill-button">گرافیک</a>
                                </li>
                            </ul>
                               <!--   Portfolio Filters   -->
                        </div>
                        <div class="portfolio-items row">
                            @foreach (var item in Model)
                            {
                                <!-- Item 06 -->
                            <div class="col-lg-4 portfolio-item  @Html.DisplayFor(modelItem => item.Type)">
                                <div class="image-border">
                                    <div class="portfolio-item-content">
                                        <img src="~/img/@Html.DisplayFor(modelItem => item.Img)" alt="/" class="img-fluid">
                                        <div class="img-overlay text-center">
                                            <div class="img-overlay-content">
                                                <div class="portfolio-icon">
                                                    <button type="button" data-toggle="modal"
                                                        data-target="#portfolio-single"><i
                                                            class="lni-link"></i></button>
                                                    <a href="~/img/@Html.DisplayFor(modelItem => item.Img)" class="js-zoom-gallery">
                                                        <i class="lni-search"></i>
                                                    </a>
                                                </div>
                                                <h5 class="mt-3 mb-0">کار من</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            }
                         
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Portfolio End  -->